/* Author: Sofia Fernandez */

* {
	box-sizing: border-box;
}

#headContainer {
	background-color: #ffffff;
	clear: both;
}

header {
	float: left;
	color: white;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 30px;
	padding: 30px;
	margin-left: 20%
}
/* Navigation Style*/
nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-right: 19.5%;
	padding-top: 45px;
	float: right;
	color: lightgrey;
}

nav li a:hover {
	color: #4aaaa5;
}
nav ul {
	list-style: none;
}

nav li {
	display: inline;
	padding: 0px 15px;
	border-right: 1.5px solid lightgrey;
}

nav li:last-child {
	border-right: 0px;
}

nav li a {
	color: #777;
	text-decoration: none;
	padding: 5px;
	font-size:17px;
}

 h1 {
 	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 26px;
	color: #4aaaa5;
	font-weight: bold;
	padding-bottom: 10px;
 }

 h2 {
 	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #4aaaa5;
	font-weight: bold;
	padding-bottom: 10px;
 }

 p {
 	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	color: #777777;
	line-height: 1.5em;
	padding-top: 10px;
}
 p img {
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

hr {
	border-top: 1.5px solid lightgrey;
}

#mainContainer {
	overflow: auto;
	clear: both;
	border-top: 2px solid #dddddd;
	width: 100%;
	height: auto;
	background-image: url('../images/concrete_seamless.png');
	min-height: 90vh
}

#mainContent {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	background-color: #ffffff;
	float: left;
	padding: 30px;
	margin-left: 20%;
	margin-top: 30px;
	margin-bottom: 100px;
	overflow: auto;
	width: 650px;
	height: 50%;
	border: 1px solid #dddddd;
  position: relative;
}


#sidebarContainer {
	float: left;
	background: #ffffff;
	width: 270px;
	padding: 20px;
	margin-top: 30px;
	margin-left: 40px;
	margin-bottom: 100px;
	color: #4aaaa5;
	border: 1px solid #dddddd;

}

#sidebarContainer img {
	width: 60px;
	padding-right: 5px;
	padding-left: 5px;
}

#sidebarContainer img:hover {
	border: 2px solid white
}

/*This is the footer style guide */
footer {
	clear: both;
  border-top: 7px solid #4aaaa5;
	background-color: grey;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  text-align: center;
  padding: 40px;
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
}

.portfolio figure {
	display: inline-block;
  width: 250px;
  height: 129px;
  margin: 10px 10px;
  position: relative;
  margin: 10px;
}
.portfolio figcaption {
  position: absolute;
  top: 90%;
  bottom: -20%;
  left: 0;
  right: 0;
  background-color: #4aa8a2;
  padding: 10px ;
  padding-bottom: -10px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1em;
  text-align: center;
  color: white;
}

.portfolio a:link {
  text-decoration: none;
}

figcaption strong {
	font-weight: 700;
	display: block;
}
/*This is the style for the form*/

.textBox {
	width: 100%;
	padding: 5px;
}

.button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Media Query for Desktop Layout*/
@media only screen and (max-width: 980px) {
	body {
		max-width: 980px;
  }
  header {
  	margin-left: 15.5%;
  	font-size: 25px;
		padding: 25px;
  }
  nav {
		margin-right: 13%;
		padding-top: 35px;
		float: right;
  }
  #mainContainer {
  	width: 100%;
   	padding: 20px;
  }
  #mainContent {
  	width: 44%;
  	margin-left: 14%;
  	margin-bottom: 10%;
  }
  #mainContent p img {
  	margin-left: 25px;
  }
  #sidebarContainer {
		width: 24.5%;
		margin-right: 4%;
	}
	.portfolio {
   	margin-left: 10%;
  }
}

/*Media Query for Tablet Layout*/
@media only screen and (max-width: 768px) {
	body {
  	max-width: 768px;
  }
  header {
  	margin-left: 4%;
   	font-size: 25px;
		padding: 25px;
  }
  nav {
		margin-right: 1%;
		padding-top: 35px;
		float: right;
  }
  #mainContainer {
   	width: 100%;
    padding: 10px;
  }
  #mainContent {
   	width: 96%;
   	margin-left: 2%;
   	margin-bottom: 1.5%;
   	margin-right: 2%;
  }
  #mainContent  p {
	color: grey;
	line-height: 1.75em;
	padding-top: 10px;
	font-size: 19px;
}
  #mainContent p img {
  	margin: 10px 10px 0px 5px;
  }
  #sidebarContainer {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.portfolio figure {
		display: inline-block;
	  width: 250px;
	  height: 129px;
	  margin: 10px 10px;
	  position: relative;
	  margin: 10px;
	}
	.portfolio figcaption {
	  position: absolute;
	  top: 90%;
	  bottom: -20%;
	  left: 0;
	  right: 0;
	  background-color: #4aa8a2;
	  padding: 10px ;
	  padding-bottom: -10px;
	  font-family: 'Georgia', Times, Times New Roman, serif;
	  font-size: 1em;
	  text-align: center;
	  color: white;
	}
	.portfolio {
   	margin-left: 8.5%;
  }
}

/*Media Query for Mobile Layout*/
@media only screen and (max-width: 640px) {
  body {
  	max-width: 640px;
    }
  header {
		width: 100%;
		margin-left: 0px;
  	font-size: 32px;
		padding: 25px;
		text-align: center;
  	}
  nav {
  	font-size: 25px;
  	float: left;
		margin-left: 6%;
		margin-right: 9%;
		padding-top: 17px;
		padding-bottom: 15px;
  }
  nav li {
		padding: 0px 50px;
  }
  #mainContainer {
   	width: 100%;
    padding: 10px;
  }
  #mainContent {
   	width: 96%;
   	margin-left: 2%;
   	margin-bottom: 1.5%;
   	margin-right: 2%;
  }
  #mainContent  p {
		color: grey;
		line-height: 1.75em;
		padding-top: 10px;
		font-size: 19px;
	}
  #mainContent p img {
  	width: 500px;
  	margin: 10px 10px 10px 30px;
  	text-align: center;
  }
  #sidebarContainer {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.portfolio figure {
		display: inline-block;
	  width: 400px;
	  height: 129px;
	  margin: 10px 10px;
	  position: relative;
	  margin: 10px;
	}
	.portfolio figcaption {
	  position: absolute;
	  top: 180%;
	  bottom: -108%;
	  left: 0;
	  right: 0;
	  background-color: #4aa8a2;
	  padding: 10px ;
	  padding-bottom: -10px;
	  font-family: 'Georgia', Times, Times New Roman, serif;
	  font-size: 1em;
	  text-align: center;
	  color: white;
	}
	.portfolio {
   	margin-left: 10%;

  }
  .portfolio img {
  	width: 400px;
  	margin-top: 15px;
  }
    
}